$def with (title, body, note, tags)

</div>
<a id="Top"/>
<div class="dropdown">
  <button class="dropbtn"><H1>$title</H1></button>
  <div class="dropdown-content">
        <a>ID : $note.id</a>
        <a>Created Time : $datetime.fromtimestamp(note.created_time/1000).strftime("%c")</a>
        <a>Updated Time : $datetime.fromtimestamp(note.updated_time/1000).strftime("%c")</td>
        <a>Is Conflict : $note.is_conflict</a>
        <a>Latitude : $note.latitude</a>
        <a>longitude : $note.longitude</a>
        <a>Altitude : $note.altitude</a>
        <a>Author : $note.author</a>
        <a>Source URL : $note.source_url</a>
        <a>Is Todo : $note.is_todo</a>
        <a>Todo Due : $note.todo_due</a>
        <a>Todo Completed : $note.todo_completed</a>
        <a>Source : $note.source</a>
        <a>Source Application : $note.source_application</a>
        <a>Application Data : $note.application_data</a>
        <a>Order : $note.order</a>
        <a>User Created Time : $datetime.fromtimestamp(note.user_created_time/1000).strftime("%c")</a>
        <a>User Updated Time : $datetime.fromtimestamp(note.user_updated_time/1000).strftime("%c")</a>
        <a>Encryption Cipher Text : $note.encryption_cipher_text</a>
        <a>Encryption Applied : $note.encryption_applied</a>
  </div>
</div>
$if note.source_url:
	<a href="$note.source_url" target="_blank">$note.source_url</a>
<HR>
Tags:
$for tag in tags:
	<a href="/tag_notes?id=$tag.id">$tag.title</a> |&nbsp;
<HR>
$:body
<HR>
